{{define "String"}}{{with $root := .}}{{with $tm := $root.GetEnumMetadata}}{{with $m := $root.GetMetadata}}

{{if (not (eq "" $tm.Doc))}}{{range $_, $line := (splitLines $tm.Doc) }}
// {{$line}}{{end -}}{{end}}
type {{$tm.Name}} {{$root | toType}}

const (
{{- range $_, $v := $m.Members}}
    {{if (not (eq "" $v.Doc))}}{{range $_, $line := (splitLines $v.Doc)}}
    // {{$line}}{{end}}{{end}}
    {{$tm.Name}}{{$v.Name | toTitle}} {{$tm.Name}} = {{$v.Value | printf "%q"}}{{if (eq $m.Default $v.Value)}}  // default{{end}}
{{end -}}
)
{{end}}{{end}}{{end}}{{end}}

--------------------------------------------------------------------------------

{{define "Int"}}{{with $root := .}}{{with $tm := $root.GetEnumMetadata}}{{with $m := $root.GetMetadata}}

{{if (not (eq "" $tm.Doc))}}{{range $_, $line := (splitLines $tm.Doc) }}
// {{$line}}{{end -}}{{end}}
type {{$tm.Name}} {{$root | toType}}

const (
{{- range $_, $v := $m.Members}}
    {{if (not (eq "" $v.Doc))}}{{range $_, $line := (splitLines $v.Doc)}}
    // {{$line}}{{end}}{{end}}
    {{$tm.Name}}{{$v.Name | toTitle}} {{$tm.Name}} = {{$v.Value | printf "%v"}}{{if (eq $m.Default $v.Value)}}  // default{{end}}
{{end -}}
)
{{end}}{{end}}{{end}}{{end}}
